*{
    font-family: 'Mukta', sans-serif;
    color:rgb(58, 58, 58)
}
/* --------------- Nav Bar-------------- */
nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

nav a {
    color:black;
    text-decoration: none;
    margin: 10px 15px;
}
.main-nav a:hover {
	color: #247fb8;
}

.main-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 238, 238);
    width: 100vw;
    margin: -5px 0px 10px;
    text-align: center;
}
h1, h2, h3 {
    color:black;
}
h1 {
    margin: 0px;
}
h2 {
    text-align: center;
    font-size: 1.2rem;
}
h3 {
    font-size: 1.5rem;   
}
.name {
    display: block;
    padding: 10px 15px;
}
.main-nav {
    order: 2;
    width:100%;
    box-sizing: border-box;
    padding: 15px;
    justify-content:space-between;
    align-items:center;
    margin: auto;
    flex: auto;
    font-size: 1.4rem;
}
/* --------------- Body Content-------------- */
.img-responsive {
    width: 60vw;
    max-width: 100%;
    height: auto;
}
.container1 {
    display: inline-flex;
    flex-direction: column;
    flex: 0;
    text-align: center;
    margin: 5px;
}
.avi{
    margin: auto;
    max-width: 100%;
}
.about {
    text-align: center;
    padding: 0 10px 0;
}
.row {
    text-align: center;
    display:flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
}
.col {
    flex: 1;
}
/* --------------- Footer-------------- */
footer {
    display: flex;
    justify-content: space-between;
}
footer a {
    color:black;
    text-decoration: none;
    padding: 10px 15px;
}
footer a:hover {
	color: #247fb8;
}
/*--------------- Media Queries--------------*/
@media  (max-width:768px){
    .main-header{
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .main-header, .main-nav {
        display: flex;
        flex-wrap: wrap;
    }
    ul.main-nav {
        flex-direction: row;
    }
    .container1 {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        box-sizing: border-box;
    }
    .container1 p {
        padding: 15px;
    }
    .col {
        flex: 1 50%;
        max-width: 49%;
        flex-wrap: wrap;
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-direction: row;
    }
   * {
       margin: 0;
   }
}
@media (min-width:1024px){
    .main-header, .main-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .container1 {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        box-sizing: border-box;
    }
    .container1 p {
        padding: 15px;
    }
}