*{
    font-family: 'Mukta', sans-serif;
}
.img-responsive {
    max-width: 65vh;
    height: auto;
}
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*-- Media Queries--*/
@media (min-width: 768px) and (max-width: 1023px){

}
@media (min-width:1024px){

}